# 서버 포트 설정
PORT=8001

# 세션 및 쿠키 보안 키(그대로 놔둬도 됨)
COOKIE_SECRET=on_chegam_secret_key

# 데이터베이스 설정 (각자 수정 필요)
DB_PASSWORD=your_password_here

# 밑의 세 줄은 워크벤치 작업에서 참고할 내용(.env에는 없어도 됨)
DB_NAME=on_chegam_db # 꼭 이 이름으로 해야 함
DB_USER=root
DB_HOST=127.0.0.1

# 기상청 api 인증키(카톡 공유)
DATA_SERVICE_KEY=여기에_기상청_인증키_입력